# Firebase
.firebaserc
firebase.json
firebase-debug.log

# Dependencies
/node_modules
/functions/node_modules

# Environment variables & secrets
.env
.env.*
functions/.env
!/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# Editor/IDE specific
.wakatime-project
SESSION_STATUS.md
